body {
  background-color: lightblue;
}

.linkDiv {
  text-align: center;
}

.link {
  background-color: lightcoral;
  border: 3px solid black;
}

.landingPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
